.header {
    text-decoration: none;
    display: flex;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    color: #f0f0f0;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.profile:hover {
    color: #ECD182;
}

.profile span {
    margin-left: 8px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    text-decoration: none;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #1f1f1f;
}

.dropdown-item:hover {
    background-color: #3f3f3f;
}

.logo {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo-image {
    height: 30px;
    width: auto;
    object-fit: contain;
    margin-right: 8px;
}

.search-container {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #ECD182;
    outline: none;
}

.nav {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    color: #f0f0f0;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #ECD182;
}

.nav-item span {
    margin-left: 5px;
}
