<link href="/css/styl-confirm.css" rel="stylesheet" type="text/css">
<script src="/script/autenticacao.js"></script>


<div class="main-login">
    <div class="left-login">
        <a href="/"><img src="/image/Icaros-branco.png" class="left-login-image"></a>
        <h1>Desperte e voe até o Sol,<br>
            venha fazer parte.</h1>
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>AUTENTICAÇÃO</h1>
            <form id="resend-email-form">
                <p class="text-field">Foi enviado um código para seu e-mail!</p>
                <div class="text-field">
                    <p>Caso ainda não tenha recebido, por favor clique no botão abaixo.</p>
                </div>
                <div class="card-bttn">
                    <button class="bttn-login" type="button" id="authButton">Reenviar E-mail</button>
                </div>
            </form>
        </div>
    </div>
</div>