.sidebar{
    color: #f0f0f0;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
    height: fit-content;
  }
  
  .sidebar ul{
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li{
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar li:hover{
    color: #ECD182;
    background-color: #3f3f3f;
    cursor: pointer;
  }

  